# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=request_service_db
DB_USERNAME=admin
DB_PASSWORD=admin

# request-service
REQUEST_SERVICE_PORT=8080

# xml2json-service
CONVERSION_SERVICE_HOST=xml2json-service
CONVERSION_SERVICE_PORT=8081
