# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=request_service_db
DB_USERNAME=admin
DB_PASSWORD=admin

# request-service
REQUEST_SERVICE_PORT=8080

# xml2json-service
CONVERSION_SERVICE_HOST=xml2json-service
CONVERSION_SERVICE_PORT=8081

# storage-service
STORAGE_SERVICE_PORT=8082

# MinIO
S3_HOST=minio
S3_PORT=9000
S3_CONSOLE_PORT=9001
S3_REGION=us-east-1
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET_NAME=xmlprocessing-bucket
